/* Font famliy CSS */

@font-face {
  font-family: 'Myriad Pro';
  src: url('../font/MYRIADPRO-REGULAR.woff2') format('woff2'), url('../font/MYRIADPRO-REGULAR.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../font/MYRIADPRO-BOLD.woff2') format('woff2'), url('../font/MYRIADPRO-BOLD.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


/* Font famliy CSS */

 /* Reset Stylesheet */
  
 html,
 body,
 div,
 span,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 abbr,
 address,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 samp,
 small,
 strong,
 sub,
 sup,
 var,
 b,
 i,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section,
 summary,
 time,
 mark,
 audio,
 video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
 }
 
 body {
   line-height: 1;
 }
 
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
   display: block;
 }
 
 nav ul {
   list-style: none;
 }
 
 blockquote,
 q {
   quotes: none;
 }
 
 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
   content: '';
   content: none;
 }
 
 a {
   margin: 0;
   padding: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
 }
 
 
 /* change colours to suit your needs */
 
 ins {
   background-color: #ff9;
   color: #000;
   text-decoration: none;
 }
 
 
 /* change colours to suit your needs */
 
 mark {
   background-color: #ff9;
   color: #000;
   font-style: italic;
   font-weight: bold;
 }
 
 del {
   text-decoration: line-through;
 }
 
 abbr[title],
 dfn[title] {
   border-bottom: 1px dotted;
   cursor: help;
 }
 
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 
 /* change border colour to suit your needs */
 
 hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #cccccc;
   margin: 1em 0;
   padding: 0;
 }
 
 input,
 select {
   vertical-align: middle;
 }
 
 
 /* Reset Stylesheet */

  /* image css start */
  
  img {
    width: auto;
    height: auto;
    max-width: 100%;
    border: none;
  }
  
  
  /* image css end */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    font-family: 'Myriad Pro';
    background-color: #fff;
    color: #000;
    font-size:14px;
    line-height: 1.4;
    font-weight: noraml;
  }

  /* header css start */
header{
  background-color: #b3d2e6;
  padding: 10px 0px;
}
.wrap-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px;
    max-width: 1300px;
    margin: auto;
}
#logo a{
  display: inline-block;
}
#logo a img{
  display: block;
}
.header-right{
  display: flex;
  align-items: center;
}
.main-menu{
  display: flex;
}

span.icon-bar{
	position:absolute;
	right:12px;
	display:block;
	width:26px;
	height:2px;
	background-color:#ffffff;
}
.icon-bar:nth-child(1){
  top:17px;
}
.icon-bar:nth-child(2){
  top:24px;
}
.icon-bar:nth-child(3){
  top:31px;
}
.nav-toggle{
	position: absolute;
    /* top: 56px; */
    right: 0px;
    width: 50px;
    height: 50px;
    /* background-color: #11999e; */
    cursor: pointer;
    left: 3px;
}
.nav-overlay{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	z-index:1;
	opacity:0;
	visibility:hidden;
}
.nav-overlay.active{
	opacity:1;
	visibility:visible;
}
.nav-toggle{
	display:none;
}

nav.navigation{
	z-index:2;
}
.nav-overlay{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	z-index:1;
	opacity:0;
	visibility:hidden;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-overlay.active{
	opacity:1;
	visibility:visible;
  z-index: -1;
}

.nav-toggle.active .icon-bar:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(
-45deg
);
  -moz-transform: rotate(-45deg);
  transform: rotate(
-45deg
);
}
.icon-bar:nth-child(3) {
  top: 31px;
}
span.icon-bar {
  position: absolute;
  right: 12px;
  display: block;
  width: 26px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.nav-toggle.active .icon-bar:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(
45deg
);
  -moz-transform: rotate(45deg);
  transform: rotate(
45deg
);
}
.icon-bar:nth-child(1) {
  top: 17px;
}
span.icon-bar {
  position: absolute;
  right: 12px;
  display: block;
  width: 26px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.nav-toggle.active .icon-bar:nth-child(2) {
  width: 0;
}
.icon-bar:nth-child(2) {
  top: 24px;
}

.menu ul li{
  margin: 1rem;
}
.menu ul li a{
  color: #ffffff;
  font-size: 14px;
}
.menu ul li a:hover{
  color: #496e9e;
}
.menu ul li a.active{
  color: #496e9e;
}
.header-btn{
  display: flex;
}
.login{
  display: inline-block;
  vertical-align: top;
}
.login a{
  background-color: transparent;
  border-radius: 25px;
  padding: 8px 40px;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}
.login a:hover{
  background-color: #ffffff;
  border: 2px solid rgb(255, 255, 255);
  color: #b3d2e6;
}
.sign-up{
  display: inline-block;
  vertical-align: top;
}
.sign-up a{
  background-color: #ffffff;
  border-radius: 25px;
  padding: 8px 40px;
  border: 2px solid rgb(255, 255, 255);
  color: #b3d2e6;
  font-weight: bold;
  font-size: 14px;
  margin-left: 5px;
  text-transform: uppercase;
  display: block;
}
ul.main-menu, ul.main-menu li, ul.main-menu li a {
  text-align: center;
    padding: 10px 0px;
}
ul.main-menu li a {
  padding: 10px;
}
.sign-up a:hover{
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* header css start */

/* blog section start */

.blogcontent-section{
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1046px;
}
.blogcontent-section {
  padding: 20px;
}
.slider-arrow{
  margin-bottom: 40px;
}
.slider-arrow{
  display: flex;
  justify-content: center;
}
.prev-arrow,.right-arrow{
  padding: 0px 5px;
}
.prev-arrow a,.next-arrow a{
  display: inline-block;
  transform: rotate(180deg);
  border: 2px solid #7babed;
  border-radius: 50%;
  padding: 22px;
}
.fa-right-arrow::after{
  content: '';
  position: absolute;
  transform: translate(-50% , -50%);
  border-right: 10px solid #7babed;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
a.fa-right-arrow:hover:after{
  border-right: 10px solid #fff;
}
a.fa-right-arrow:hover {
  background-color: #7babed;
}
.fa-left-arrow::after{
  content: '';
  position: absolute;
  transform: translate(-50% , -50%);
  border-left: 10px solid #7babed;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
a.fa-left-arrow:hover:after{
  border-left: 10px solid #fff;
}
a.fa-left-arrow:hover {
  background-color: #7babed;
}
.blog-banner{
  max-width: 1016px;
  margin-bottom: 30px;
}
.blog-content{
  margin-bottom: 30px;
}
.blog-detalis .date{
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}
.blog-row
{
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}
.blogcol-blogcol1{
  width: 50%;
  padding: 0px 15px;
}
.blog-info{
  font-size: 14px;
  font-weight: 300;
}
.blogcol-blogcol1 p{
  margin-bottom: 40px;
}
.blogcol-blogcol1 p:last-child{
  margin-bottom: 0px;
}
/* more blod start */
.moreblog-section h2{
  color: #b3d2e6;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4em;
}
.blogitem{
  width: 33.3333333%;
  padding: 0px 15px;
}
.blog-box{
  display: inline-block;
  margin-bottom: 30px;
}
.blog-box img{
  display: block;
}
.box-info a{
  color: black;
  font-weight: bold;
}
.box-info a:hover{
  color: #b3d2e6;
  font-weight: bold;
}
.box-info span{
  display: block;
  margin-bottom: 40px;
  font-style: italic;
  font-size: 14px;
}
.box-info{
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
}
.box-info a{
  display: inline-block;
}
.blog-info a h3{
  display: block;
}
/* more blod end */
/* blog section end */

/* footer start */
  .contact-us {
    background-image: url("../img/contact-us.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0px;
  }
  
  .formcol-formcol10 {
    margin-bottom: 10px;
  }
  
  .input-group-name {
    position: relative;
    width: 100%;
  }
  
  .span-input {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 12px 20px;
    position: absolute;
    width: 130px;
    font-size: 14px;
    text-align: center;
    color: #231f20;
    font-weight: 300;
    display: inline-block;
  }
  
  .formcol {
    width: 50%;
    display: inline-block;
    padding: 0px 15px;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }
  
  .form-row h2 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .input-name {
    border: 2px solid #ffffff;
    border-radius: 20px;
    position: relative;
    padding: 10px 20px 9px 140px;
    width: 100%;
    background: transparent;
    color: #ffffff;
    outline: none;
    font-size: 14px;
  }
  
  textarea.input-name {
    padding: 40px 10px 10px 10px;
    height: 85px;
  }
  
  .submit {
    width: 130px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #ffffff;
    font-size: 14px;
    color: #231f20;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: 0px;
  }
  
  .submit:hover {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
  }
  .footer-contact-us .container {
    max-width: 700px;
}
.container{
  max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}
/* footer end */

section.contact-us h2 {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}
